.container {
  position: fixed;
  box-sizing: border-box;
  width:100%;
  height:100%;
  padding:50px;
  //outline: 3px solid #fff; 
  //outline-offset: -25px;
  z-index:3;
  
  #dave {
    width:65%;
    height:100%;
    position: fixed;
    top:0px;
    left:0px;
  }
  
  .logo {
    
    position: absolute;
    top:50%;
    right:25%;
    margin-top:-89px;
    margin-right:-105px;
    width:210px;
    height:177px;
    background:url(../assets/images/david-arcus-creative-technologist.svg) no-repeat center;
    background-size:210px 177px;
  }
  
  .dave {
    position: fixed;
    bottom:0px;
    left:60px;
    width:900px;
    height:764px;
    background:url(../assets/images/dave.png) no-repeat center;
    background-size:900px 764px;
    
  }
  
//  .spiel {
//    position: absolute;
//    width:35%;
//    height:200px;
//    position: absolute;
//    top:50%;
//    right:25%;
//    margin-top:30px;
//    margin-right:-18%;
//    
//    p {
//      margin-top:0px;
//      color:#fff;
//      font-family: Georgia, Times, 'Times New Roman', serif;
//      font-weight: normal;
//      font-style: italic;
//      font-size:18px;
//    }
//    
//  }
  
}