#compressed stuff
*.7z
*.dmg
*.iso
*.rar
*.tar
*.zip

#logs and dbs
*.log
*.sql
*.sqlite

#osx junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#vagrant stuff
/.vagrant
/puppet

#ignore my junk folder
/site/public/stuff

#config 
/site/public/ajax.php
/site/public/photos/config.php