/* CSS Document */
body {
	margin:0px;
}

#title-container {
	width:100%;
	color:#fff;
	background-color:#1C1C1C;
	overflow:auto;
}

#title-container a.home {
	text-decoration:none;
	color:#fff;
	float:left;
	display:block;
	padding:8px;
}

#title-container h1 {
	display:inline-block;
	margin:0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:3px;
}

h1.left {
	/*float:right;*/
	padding-left:4px;
}

h1.right {
	float:right;
	padding:8px;
}

#gallery {
	margin:1px;
}
