.work {
  
  width:50%;
  
  .text {

    width:70%;
    color:#fff;
    margin:0px auto;
    box-sizing: border-box;
    padding:80px 40px;
    
  }

  &.ng-enter {
    transition: 0.5s linear all;
    opacity:0;

    &.ng-enter-active {
      opacity:1;
    }

  }

  &.ng-leave {
    transition: 0.5s linear all;
    opacity:1;

    &.ng-leave-active {
      opacity:0;
    }

  }

}
