/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

body {
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;

  a {
    position: absolute;
    z-index: 9;
    top:0;
    left:0;
  }

  p {
    font-family: 'Alice', serif;
    font-weight: normal;
    letter-spacing: -0.5px;
    font-size:0.9em;
    line-height: 1.3em;
    margin-top:0;
  }

  h2 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom:0.2em;
    //margin-top:3.6em;
    font-size:1.2em;
  }

}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
