@charset "utf-8";

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
}

a {
	text-decoration:underline;
	color:#333;
}

#outer-container {	/* contains background image of tablet */
	margin:0px auto; 
	width:853px; 
	height:678px; 
	background:url(../images/screen.png) no-repeat center;
	/*background-color:#333; 
	border-radius:50px; 
	-webkit-box-shadow: 15px 15px 20px 20px #efefef; */
	position:relative;
}

#container {	/* area of screen for tablet */
	position:absolute; 
	top:77px; 
	left:73px; 
	width:708px; 
	background:url(../images/home-screen-bg.gif) no-repeat center;
	height:520px;
}

#target {	/* same properties as background container, but this div is where content for apps is loaded in */
	position:absolute; 
	top:0px; 
	left:0px; 
	width:708px; 
	height:520px;
}

#lock-screen {
	background:url(../images/lockscreen.jpg) no-repeat center;
	width:708px; 
	height:520px;
}

#lock-screen-heading {
	top:80px;
	left:35px;
	position:absolute;
	width:288px;
	height:221px;
	background:url('../images/lockscreen-heading.png') no-repeat center;
}

#lock-screen-bubble {
	right:115px;
	top:140px;
	position:absolute;
	width:166px;
	height:56px;
	background:url('../images/lockscreen-bubble.png') no-repeat center;	
}

#slider-container {
	position:absolute;
	width:230px;
	height:36px;
	bottom:5px;
	right:5px;
}

#lock-screen-time {
	position:absolute;
	width:100px;
	height:28px;
	line-height:28px;
	top:1px;
	right:10px;
	text-align:right;
	color:#FFF;
	font-size:24px;
}

#preloader {
	z-index:9999;
	display:none;
	position:absolute;
	width:16px;
	height:11px;
	top:325px;
	left:422px;
}

#get-started-mobile {
	display:none;
	width:231px;
	height:38px;
	line-height:35px;
	/*background-color:green;*/
	position:absolute; 
	bottom:4px; 
	right:4px;
	text-align:center;
}

#get-started-mobile a {
	text-decoration:none;
	color:#fff;
}

.app-position {
	position:absolute; 
	width:74px; 
	height:74px; 	
}

#app1_pos {
	top:70px; 
	left:70px; 
}

#app2_pos {
	top:70px; 
	left:236px; 
}

#app3_pos {
	top:70px; 
	left:399px; 
}

#app4_pos {
	top:70px; 
	left:563px; 
}

#app5_pos {
	top:218px; 
	left:70px; 
}

#app6_pos {
	top:218px; 
	left:236px; 
}

#app7_pos {
	top:218px; 
	left:399px; 
}

#app8_pos {
	top:218px; 
	left:563px; 
}

#app9_pos {
	top:370px; 
	left:70px; 
}

#app10_pos {
	top:370px; 
	left:236px; 
}

#app11_pos {
	top:370px; 
	left:399px; 
}

#app12_pos {
	top:370px; 
	left:563px; 
}

.app-label {
	position:absolute;
	width:140px;
	height:30px;
	left:-34px;
	bottom:-40px;
	text-align:center;
}

#close-app {
	width:27px;
	height:27px;
	position:absolute; 
	top:29px; 
	left:20px; 
	z-index:50;
}

.return {
	display:none;	
}

/* ------------------------------- General App styles --------------------------------- */

p {
	margin-top:8px;
	line-height:18px;
}

.app-container {
	width:708px; 
	height:520px; 
	background-color:#fff;
	position:relative;
	color:#4d4d4d;
}

.app-column-left {
	float:left;
	width:290px;
	padding-right:30px;
}

.app-column-right {
	float:left;
	width:265px;
	position:relative;
}

.pad-right {
	padding-right:20px;
}

.palegreen {
	background-color:#c1d82f;
}

.green {
	background-color:#004632;	
}

.teal {
	background-color:#00788b;
}

.purple {
	background-color:#731472;
}

.pink {
	background-color:#DE3A6E;
}

.paler-pink {
	background-color:#F8D8E2;
}

.pale-pink {
	background-color:#F2B0C5;
}
	
.orange {
	background-color:#f6861f;
}

.pale-orange {
	background-color:#FBCFA5;
}

.blue {
	background-color:#221f72;
}

.sky-blue {
	background-color:#00a5d9;
}

.paler-blue {
	background-color:#CCEDF7;
}

.pale-blue {
	background-color:#99DBF0;
}

.strong-pale-blue {
	background-color:#64629C;
}

.pale-sky-blue {
	background-color:#CCEDF7;
}

.white-text {
	color:#fff;
}

.teal-text {
	color:#00788b;
}

.sky-blue-text {
	color:#00a5d9;	
}


.blue-text {
	color:#221f72;
}

.strong-pale-blue-text {
	color:#64629C;
}

.purple-text {
	color:#731472;
}

.orange-text {
	color:#f6861f;
}

strong {
	font-weight:bold;
}


h1 {
	font-size:26px;
}

h2 {
	font-size:18px;
	line-height:22px;
}

h2.second {
	margin-top:10px;
}

.in-app-clock {
	width:692px;
	height:16px;
	color:#fff;
	line-height:16px;
	padding:2px 8px;
	text-align:right;
}

.app-heading-container {
	position:relative;
	width:100%;
	height:45px;
	line-height:45px;
	text-align:center;
	color:#fff;
}

.app-default-padding {
	padding:30px 60px;	
	overflow:auto;
}


.app-add-vertical-overflow {
	height:360px;
	overflow-y:scroll;
}

.app-left-column-list-container {
	width:354px;
	float:left;
	height:455px;
	color:#000;
}

.app-right-column-list-container {
	width:354px;
	float:left;
	height:455px;
}

.block-list li {
	display:block;
	height:35px;
	line-height:35px;
	padding-left:60px;
}


/* ------------------------------- App 1 - Introduction --------------------------------- */

#app1-column-left {
	float:left;
	width:315px;
	padding-right:30px;
}

#app1-column-right {
	float:left;
	width:238px;
	position:relative;
}


#app1-slider1 {
	width:238px;
	height:354px;
	position:relative;	
}

#app1-video1 {
	width:238px;
	height:354px;
}

#app1-video2 {
	width:238px;
	height:354px;
}

#app1-nav-container a {
	text-decoration:none;
}

#app1-meet-sam-and-archie {
	margin-top:10px;
	text-align:right;
}

#app1-meet-amy {
	margin-top:10px;
	display:none;
	text-align:left;
	
}

/* ------------------------------- App 2 - About M&S --------------------------------- */

#app2-quote {
	display:none;
	position:absolute;
	width:290px;
	height:105px;
	left:60px;
	bottom:45px;
}


/* ------------------------------- App 3 - Introduction --------------------------------- */

.app3-tweak-height {
	height:320px !important;
}

.app3-tweak-top-padding {
	padding-top:50px !important;
}

#app3-quote {
	display:none;
	position:absolute;
	width:290px;
	height:105px;
	left:60px;
	bottom:75px;
}

/* ------------------------------- App 4 - Rewards --------------------------------- */

#app4-quote {
	display:none;
	position:absolute;
	width:290px;
	height:105px;
	left:60px;
	bottom:50px;
}

/* ------------------------------- App 5 - Development --------------------------------- */

#app5-quote {
	display:none;
	position:absolute;
	width:290px;
	height:105px;
	left:60px;
	bottom:50px;
}

.app5-links-container {
	margin-top:10px;
	text-align:center;
	float:left;
	overflow:auto;
	height:35px;
	line-height:35px;
	width:145px;
}

.app5-links-container a {
	color:#fff;
	text-decoration:none;
}

/* ------------------------------- App 6 - Meet our grads --------------------------------- */

.app6-add-padding {
	padding-top:110px;
}

.app6-video-link {
	float:left;
}

.app6-video-link.pad-right {
	padding-right:10px;
}

.app6-video-link.pad-bottom {
	padding-bottom:10px;
}

.app6-video-link.margin-top {
	margin-top:10px;
}

#app6-position-video {
	display:none;
	position:absolute;
	width:476px;
	height:268px;
	top:100px;
	left:100px;
}

#app6-video-background {
	background-color:#000;
	width:708px; 
	height:520px;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

#app6-video-container {
	display:none;
	position:absolute;
	background-color:#666;
	width:476px;
	height:268px;
	border:6px #333 solid;
	top:135px;
	left:120px;
}

#app6-video {
	width:476px;
	height:268px;
	top:0px;
	left:0px;
}

/* ------------------------------- App 7 --------------------------------- */

#app7-faq-questions a {
	text-decoration:none;
	color:#000;
}

.app7-faq-answers {
	position:relative;
	width:234px;
	height:395px;
}

.app7-faq-answers h1 {
	margin-bottom:45px;
}

.app7-faq-questions {
	position:absolute;	
}
	
/* ------------------------------- App 8 --------------------------------- */

.app8-links-container {
	margin-top:10px;
	text-align:center;
	float:left;
	overflow:auto;
	height:35px;
	line-height:35px;
	width:145px;
}

.app8-links-container a {
	color:#fff;
	text-decoration:none;
}

/* ------------------------------- App 9 --------------------------------- */

.app9-right-container {
	width:245px;
	height:360px;
	overflow:auto;
	padding-right:20px;
}

.app9-target-jobs-logo {
	position:absolute;
}

.app9-target-jobs-logo.first {
	top:245px;
	left:200px;
}

.app9-target-jobs-logo.second {
	top:280px;	
	left:225px;
}

#app9-target-jobs {
	z-index:200;
	position:absolute;
	top:150px;
	left:270px;
	width:270px;
	height:220px;
	display:none;
}

#app9-close-target-jobs {
	position:absolute;
	top:0px;
	right:0px;
	width:25px;
	height:25px;
	background:url(../images/close.png) no-repeat center;
}

/* ------------------------------- App 10 --------------------------------- */

#app10-calendar, #app10-calendar-heading-container {
	background-color:#E9E9F1;
}

table#app10-calendar-heading-container {
	border-left:3px solid #fff;
	border-right:3px solid #fff;
	width:262px;
}


table#app10-calendar-heading-container tr td {
	padding:9px;
	text-align:center;
}

table#app10-calendar-heading-container tr td#app10-calendar-heading {
	font-size:18px;
	font-weight:bold;
	padding-bottom:0px !important;
}


table#app10-calendar-heading-container tr td.app10-calendar-days {
	font-size:10px;
	padding-bottom:4px;
}

table#app10-calendar {
	width:262px;
}


table#app10-calendar tr td {
	padding:9px;
	text-align:center;
	border:3px solid #fff; 
}

table#app10-calendar tr td.next-month {
	color:#B2B2B2;
}

table#app10-calendar tr td.active {
	color:#fff;
	background-color:#64629C;	
}

#app10-select-container {
	margin-top:10px;
	margin-left:3px;
}

select#app10-select {
	width:256px;
}

#app10-text-description {
	display:none;
}

#app10-next-month {
	display:none;
	position:absolute;
	font-size:18px;
	font-weight:bold;
	top:8px;
	right:15px;
}

#app10-prev-month {
	display:none;
	position:absolute;
	font-size:18px;
	font-weight:bold;
	top:8px;
	left:11px;
}

#app10-next-month a, #app10-prev-month a {
	text-decoration:none;
}

#app10-cant-make-it {
	z-index:200;
	position:absolute;
	top:150px;
	left:145px;
	width:370px;
	height:240px;
	display:none;
	padding:10px 20px;
	background:#FFFFFF;
	border:1px solid #CCCCCC;
}

#app10-close-cant-make-it {
	position:absolute;
	top:-10px;
	right:-10px;
	width:25px;
	height:25px;
	background:url(../images/close.png) no-repeat center;
}

/* ------------------------------- App 10 --------------------------------- */

#app11-container {
	width:450px;
}

#app11-buttons {
	overflow:auto;
	
}
.app11-box {
	width:143px;
	height:143px;
	float:left;
	font-size:60px;
	line-height:140px;
	text-align:center;
	color:#fff;
	overflow:auto;
}

#app11-box-container {
	margin-top:20px;
}

.app11-box-margin {
	margin-right:10px;
}

#app11-application-slider {
	margin-top:20px;
}

#app11-quote {
	position:absolute;
	right:40px;
	bottom:34px;
	background: url('../images/app11-quote.png') no-repeat center;
	width:137px;
	height:118px;
}

/* ------------------------------- App 12 --------------------------------- */

#app12-container {
	width:708px; 
	background-color:#C1D82F;
	height:455px;
	color:#000000;
}
	
#app12-text-nudge {
	width:500px;
	margin-top:50px;
}

#app12-body {
	padding-bottom:8px;
	margin-top:20px;
	width:300px;
	margin-bottom:20px;
 }

/* ------------------------------- Careers advisors --------------------------------- */

#careers-nav-container {
	width:668px;
	height:5px;
	background-color:#4C4C4C;
	padding:20px;
	color:#FFF;
	line-height:5px;
}

#careers-nav-container a {
	color:#FFF;
	text-decoration:none;
}

ul#careers-nav {
	margin-left:115px;
}

#careers-nav li {
	display:inline;
	list-style-type: none;
	padding-right: 40px;
}

#careers-body-container p {
	line-height:17px;
}

#careers-body-container {
	float:left;
}

#careers-column-left {
	
	float:left;
	height:350px;
	width:279px;
	margin-right:30px;
}

#careers-column-left.extra {
	width:320px !important;
}

#careers-column-right {
	float:left;
	height:350px;
	width:279px;
}

#careers-column-right.less {
	width:238px !important;
}

ul#careers-what-we-offer-list {
	margin-top:10px;
	margin-left:40px;	
}

#careers-what-we-offer-list li {
	padding-top:10px;
	list-style-type:disc;
	
}

ul#careers-who-we-want-list {
	margin-top:10px;
	margin-left:40px;	
}

#careers-who-we-want-list li {
	padding-top:15px;
	list-style-type:disc;
}

#careers-who-we-want-list li li {
	margin-left:15px;
	padding-top:5px;
	list-style-type:circle;
	font-weight:bold;
}

#careers-body-container a {
	color:#000;	
}